{% extends "bootstrap/base.html" %}
{% block title %}brwsr{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="http://www.data2semantics.org" target="_new"><img class='img' src="{{url_for('.static', filename='logo-no-text-150dpi.png')}}"/></a><h1>brwsr <small class="vsmall"><a id="brws_button" href="/">brws</a>, <a href="/sparql">qry</a>, <a href="/graph?uri={{resource}}">vz</a>{% if local == True %}, <a href="/reload?uri={{resource}}">rld</a>{% endif %}</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block brwsr_content %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <hr/>
              <p class="text-left small"><span class="glyphicon glyphicon-copyright-mark"></span> 2015/2016 - Rinke Hoekstra, Vrije Universiteit Amsterdam, work supported by <a href="http://www.data2semantics.org">Data2Semantics</a>, a <a href="http://www.commit-nl.nl">COMMIT/</a> project, and <a href="http://www.clariah.nl">CLARIAH</a>. See <a href="http://github.com/Data2Semantics/brwsr">http://github.com/Data2Semantics/brwsr</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="{{url_for('.static', filename='brwsr.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}

<style>
.vsmall {
	font-size: 9px;
}
</style>
<link rel="stylesheet"
      href="{{url_for('.static', filename='brwsr.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}

{% endblock %}
