{% extends "bootstrap/base.html" %}
{% block title %}brwsr{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>brwsr <small class="vsmall"><a href="/">brws</a>, <a href="/sparql">qry</a></small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block brwsr_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='brwsr.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}

<style>
.vsmall {
	font-size: 9px;
}
</style>
<link rel="stylesheet"
      href="{{url_for('.static', filename='brwsr.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}
    
{% endblock %}