{% extends "base.html" %}

{% block brwsr_content %}
<style>
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }

        text {
          font: 1px sans-serif;
        }

        .node:not(:hover) .label {
          display: none;
        }

        .criterion {
            font: 3px "Yanone Kaffeesatz", sans-serif;

        }

        .trial {
          font: 8px "Yanone Kaffeesatz", sans-serif;
        }

        .concept, .origin {
          font: 15px "Yanone Kaffeesatz", sans-serif;
        }

        .trial_cg, .criterion_cg {
            font: 12px "Yanone Kaffeesatz", sans-serif;
        }


        .graphIn, .graphOut {
            overflow: scroll;
        }

        .inorout {
            font-weight: 300;
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            color: #ffffff;
            line-height: 1;
            vertical-align: baseline;
            white-space: nowrap;
            text-align: center;
            background-color: #008cba;
            border-radius: 10px;
        }


        #legend {
          opacity: 0;
        }
        #circle circle {
            fill: none;
            pointer-events: all;
          }

          .group path {
            fill-opacity: .5;
          }

          path.chord {
            stroke: #000;
            stroke-width: .25px;
          }

          #circle:hover path.fade {
            display: none;
          }

          .path:hover {
            stroke: black;
          }

          .chord-label {
            font: 8px "Open Sans", sans-serif;
          }
</style>

<div class="row">
  <div class="col-md-12">
    <h4 id="title">&nbsp;</h4>
    <div id="loading" class="alert alert-info">
      Loading ...
    </div>
    <div id="noresponse" class="alert alert-warning">
      Did not receive anything ...
    </div>
    <div id="legend" class="alert alert-info">
      &nbsp;
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="graphOut">
    </div>
  </div>
  <div class="col-md-6">
    <div id="graphIn">
    </div>
  </div>
</div>





{% endblock %}


{% block scripts %}
{{super()}}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/sunburst.js') }}"></script>

<script>
  var uri = "{{ uri }}";
  $('#loading').hide();
  $('#noresponse').hide();
  drawSunburstForConcept('{{service_url}}', uri);

  // drawChord('http:/blbla', graph[0], graph[1], '#graph');
</script>
{% endblock %}
