{% extends "base.html" %}

{% block brwsr_content %}


{% if results|length > 0 %}
  {% for group in results|groupby(attribute='s') %}
  
  
    {% if group.grouper.value == resource %}
    <h4>{{ resource }} <span class="badge">relations from</span></h4>
    <table class="table table-striped">
      <thead>
        <tr><th>predicate</th><th>object</th>
      </thead>
      <tbody>
        {% for predicate in group.list|sort(attribute='p')|groupby(attribute='p') %}
        <tr><td><span class="resource" local="{{ predicate.grouper.local }}">{{ predicate.grouper.value }}</span></td><td>
          <div>
          {% for object in predicate.list %}
            {% if object.o.type == 'uri' %}
              <span class="resource" local="{{ object.o.local }}">{{ object.o.value }}</span><br/>
            {% else  %}
              <span class="literal" lang="{{ object.o.lang }}">{{ object.o.value }}</span><br/>
            {% endif %}
          {% endfor %}
          </div>
        </td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

  {% for group in results|groupby(attribute='o') %}
    {% if group.grouper.value ==  resource %}
    <h4>{{ resource }} <span class="badge">relations to</span></h4>
    <table class="table table-striped">
      <thead>
        <tr><th>predicate</th><th>object</th>
      </thead>
      <tbody>
        {% for predicate in group.list|sort(attribute='p')|groupby(attribute='p') %}
        <tr>
        <td><span class="resource" local="{{ predicate.grouper.local }}">{{ predicate.grouper.value }}</span></td>
        <td>
          <div>
          {% for subject in predicate.list %}
            {% if subject.s.type == 'uri' %}
              <span class="resource" local="{{ subject.s.local }}">{{ subject.s.value }}</span><br/>
            {% else  %}
              <span class="literal">{{ subject.s.value }}</span><br/>
            {% endif %}
          {% endfor %}
          </div>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% else %}
  <h4>{{ resource }} </h4>
  No results found

{% endif %}



{% endblock %}
