{% extends "base.html" %}

{% block brwsr_content %}


{% if results|length > 0 %}
  {% for group in results|groupby(attribute='s') %}


    {% if group.grouper.value == resource %}
    <h4>{{ resource }} <span class="badge">relations from</span></h4>
    <table class="table table-striped">
      <thead>
        <tr><th>predicate</th><th>object</th>
      </thead>
      <tbody>
        {% for predicate in group.list|sort(attribute='p')|groupby(attribute='p') %}
        <tr>
          <td>
            <span class="resource" local="{{ predicate.grouper.local }}">{{ predicate.grouper.value }}</span>
          </td>
          <td>
            <div>
            {% for object in predicate.list|sort(attribute='o')|groupby(attribute='o') %}
              {% for graph in object.list %}
                {% if graph.g.local != "<urn:default>" %}
                  <span class="graph" local="{{ graph.g.local }}"></span>
                {% endif %}
              {% endfor %}
              {% if object.grouper.type == 'uri' or object.grouper.type == 'bnode' %}
                <span class="resource" local="{{ object.grouper.local }}">{{ object.grouper.value }}</span>
                <br/>
              {% else  %}
                <span class="literal" lang="{{ object.grouper.lang }}">{{ object.grouper.value }}</span>
                <br/>
              {% endif %}
            {% endfor %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

  {% for group in results|groupby(attribute='o') %}
    {% if group.grouper.value ==  resource %}
    <h4>{{ resource }} <span class="badge">relations to</span></h4>
    <table class="table table-striped">
      <thead>
        <tr><th>subject</th><th>predicate</th>
      </thead>
      <tbody>
        {% for predicate in group.list|sort(attribute='p')|groupby(attribute='p') %}
        <tr>
          <td>
            <div>
            {% for subject in predicate.list|sort(attribute='s')|groupby(attribute='s') %}
              {% for graph in subject.list %}
                {% if graph.g.local != "<urn:default>" %}
                  <span class="graph" local="{{ graph.g.local }}"></span>
                {% endif %}
              {% endfor %}
              {% if subject.grouper.type == 'uri' or subject.grouper.type == 'bnode' %}
                <span class="resource" local="{{ subject.grouper.local }}">{{ subject.grouper.value }}</span>
                <br/>
              {% else  %}
                <span class="literal">{{ subject.grouper.value }}</span><br/>
              {% endif %}
            {% endfor %}
            </div>
          </td>
          <td>
            <span class="resource" local="{{ predicate.grouper.local }}">{{ predicate.grouper.value }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

  {% for group in results|groupby(attribute='p') %}
    {% if group.grouper.value ==  resource %}
    <h4>{{ resource }} <span class="badge">in predicate position</span></h4>
    <table class="table table-striped">
      <thead>
        <tr><th>subject</th><th>object</th>
      </thead>
      <tbody>
        {% for subject in group.list|sort(attribute='s')|groupby(attribute='s') %}
        <tr>
          <td>
            <div>
            {% for subject in subject.list|sort(attribute='s')|groupby(attribute='s') %}
              {% for graph in subject.list %}
                {% if graph.g.local != "<urn:default>" %}
                  <span class="graph" local="{{ graph.g.local }}"></span>
                {% endif %}
              {% endfor %}
              {% if subject.grouper.type == 'uri' or subject.grouper.type == 'bnode'  %}
                <span class="resource" local="{{ subject.grouper.local }}">{{ subject.grouper.value }}</span>
                <br/>
              {% else  %}
                <span class="literal">{{ subject.grouper.value }}</span><br/>
              {% endif %}
            {% endfor %}
            </div>
          </td>
          <td>
            <div>
            {% for subject in subject.list|sort(attribute='s')|groupby(attribute='s') %}
              {% for object in subject.list|sort(attribute='o')|groupby(attribute='o') %}
                {% for graph in object.list %}
                  {% if graph.g.local != "<urn:default>" %}
                    <span class="graph" local="{{ graph.g.local }}"></span>
                  {% endif %}
                {% endfor %}
                {% if object.grouper.type == 'uri' or object.grouper.type == 'bnode'  %}
                  <span class="resource" local="{{ object.grouper.local }}">{{ object.grouper.value }}</span>
                  <br/>
                {% else  %}
                  <span class="literal">{{ object.grouper.value }}</span><br/>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% else %}
  <h4>{{ resource }} </h4>
  No results found

{% endif %}



{% endblock %}
