{% extends "base.html" %}

{% block brwsr_content %}
  <div id="yasgui"></div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src='//cdnjs.cloudflare.com/ajax/libs/yasgui/1.1.4/yasgui.min.js'></script>

<script>
  YASGUI.YASQE.defaults.sparql.endpoint = "{{ endpoint }}";
  var yasgui = YASGUI(document.getElementById("yasgui"));
  //Mostly for debugging, but we might have changed the endpoint in our config file
  //in that case, overwrite the yasgui endpoint 
  //(otherwise we may use the endpoint retrieved from our previous session, which was stored in localstorage)
  if (yasgui.persistentOptions && yasgui.persistentOptions.tabs) {
      for (var tabId in yasgui.persistentOptions.tabs) {
          var tab = yasgui.persistentOptions.tabs[tabId];
          tab.yasqe.sparql.endpoint = "{{ endpoint }}";
      }
  }
  yasgui.store();
</script>
{% endblock %}

{% block styles %}
{{super()}}
<link href='//cdnjs.cloudflare.com/ajax/libs/yasgui/1.1.4/yasgui.min.css' rel='stylesheet' type='text/css'/>
<style>
.endpointText {display:none !important;}
table{font-size: 14px;}
</style>
{% endblock %}


